{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}




<!--     /* CSS HOME _DOMINIKA 18/07 */ -->


    <main>
        <section class="container">

            <h1> Des millions de petites annonces et autant d’occasions de se faire plaisir </h1>

                <div class="d-flex justify-content-center banner">
                    <div>
                        <img src="/assets/icones/marteau/marteau_orange_L.svg" alt="marteau_orange_L">
                    </div>
                    <div>
                        <h2> Découvrez notre nouvelle fonctionnalité La Vente aux Enchères ! </h2>
                    </div>
                    <div> <a href="#" class="btn-orange"><img src="assets/icones/marteau/marteau_small_white.svg" alt=""> &nbsp;Enchères</a> </div>
                </div>

            <h3> Top catégories </h3>

            <!-- SLIDER -->


            <p class="text_under_slider">Avec leboncoin, trouvez la bonne affaire sur le site référent de petites annonces de particulier à particulier et de professionnels. Avec des millions de petites annonces, trouvez la bonne occasion dans nos catégories voiture, immobilier, emploi, location de vacances, vêtements, meubles, bricolage, téléphonie, jeux vidéo, etc… Déposez une annonce gratuite en toute simplicité pour vendre, rechercher, donner vos biens de seconde main ou promouvoir vos services. Pour cet été, découvrez nos idées de destination avec notre guide de vacances en France. Achetez en toute sécurité avec notre système de paiement en ligne et de livraison pour les annonces éligibles.</p>


            <h4> RECHERCHE PAR CATÉGORIES </h4>

            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>

            <!-- Cards deroulement -->

            <h4> RECHERCHE PAR RÉGIONS </h4>

        </section>

    </main>
{% endblock %}
