{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Accueil{% endblock %}

{% block body %}

<!--     /* CSS HOME _DOMINIKA 18/07 */ -->

  
        <section class="container">
            <div>
                <h1 class="home_title m-5"> Des millions de petites annonces et autant d’occasions de se faire plaisir </h1>
                <div class="home_top">
<!-- BANNIERE ENCHERES -->
                    <div class="row banner">
                        <div class="col-2 banner_element">
                            <img class="img_marteau" src="/assets/icones/marteau/marteau_orange_L.svg" alt="marteau_orange_L">
                        </div>
                        <div class="col-7 banner_element">
                            <h2 class="banner_title" >Découvrez notre nouvelle fonctionnalité</h2>
                            <h2 class="banner_title" >La Vente aux Enchères !</h2>
                        </div>
                        <div class="col-3 banner_element"> <a href="#" class="btn-orange mx-4"><img src="assets/icones/marteau/marteau_small_white.svg" alt=""> &nbsp;Enchères</a> </div>
                    </div>
<!-- BANNIERE ENCHERES -->
                </div>
            </div>
            <h3> Top catégories </h3>
        </section>

<!-- SLIDER -->
    <section class="container my-4">
                <!-- Slider main container -->
            <div class="swiper mySwiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                    <!-- Slides -->
                    
                        <div class="swiper-slide mx-5">
                            <div class="slider_home_label">
                                <p class="h1">Voiture</p>
                            </div>
                            <div class="slider_home_img">
                                <img src="/assets/img_slider/voiture.jpg" alt="voiture">
                            </div>
                        </div>

                        <div class="swiper-slide mx-5">
                            <div class="slider_home_label">
                                <p class="h1">Ameublement</p>
                            </div>
                            <div class="slider_home_img">
                                <img src="/assets/img_slider/ameublement.jpg" alt="ameublement">
                            </div>
                        </div>

                        <div class="swiper-slide mx-5">
                            <div class="slider_home_label">
                                <p class="h1">Livres</p>
                            </div>
                            <div class="slider_home_img">
                                <img src="/assets/img_slider/livres.jpg" alt="livres">
                            </div>
                        </div>

                        <div class="swiper-slide mx-5">
                            <div class="slider_home_label">
                                <p class="h1">Multimedia</p>
                            </div>
                            <div class="slider_home_img">
                                <img src="/assets/img_slider/multimedia.jpg" alt="multimedia">
                            </div>
                        </div>

                        <div class="swiper-slide mx-5">
                            <div class="slider_home_label">
                                <p class="h1">Mode</p>
                            </div>
                            <div class="slider_home_img">
                                <img src="/assets/img_slider/vetements.jpg" alt="vetements">
                            </div>
                        </div>
 
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
            </div>           
<!-- /SLIDER -->

    </section>

    <section class="container">
        <div class="mb-5">
            <p class="text_under_slider mb-3">Avec leboncoin, trouvez la bonne affaire sur le site référent de petites annonces de particulier à particulier et de professionnels. Avec des millions de petites annonces, trouvez la bonne occasion dans nos catégories voiture, immobilier, emploi, location de vacances, vêtements, meubles, bricolage, téléphonie, jeux vidéo, etc… Déposez une annonce gratuite en toute simplicité pour vendre, rechercher, donner vos biens de seconde main ou promouvoir vos services. Pour cet été, découvrez nos idées de destination avec notre guide de vacances en France. Achetez en toute sécurité avec notre système de paiement en ligne et de livraison pour les annonces éligibles.</p>
        </div>
    </section>

<!-- RECHERCHE PAR CATEGORIES -->
    <section class="container">
        <div class="home_title2 text-center">
            <h2> RECHERCHE PAR CATÉGORIES </h2>
        </div>

        <!-- Cards deroulement -->


    <div >
        <div class="row rangee">
           <div class="dropdown col-3">
                <button class="dropbtn"><span>EMPLOI</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown col-3">
                <button class="dropbtn"><span>CATEGORIES</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown col-3">
                <button class="dropbtn"><span>MODE</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown col-3">
                <button class="dropbtn"><span>MAISON</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </div>

        <div class="row rangee">
           <div class="dropdown col-3">
                <button class="dropbtn"><span>VEHICULES</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown col-3">
                <button class="dropbtn"><span>LOISIR</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown col-3">
                <button class="dropbtn"><span>MULTIMEDIA</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown col-3">
                <button class="dropbtn"><span>MATERIEL PROFESSIONNEL</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </div>


        <div class="row rangee">
                <div class="dropdown col-3">
                        <button class="dropbtn"><span>IMMOBILIER</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown col-3">
                        <button class="dropbtn"><span>ANIMAUX</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown col-3">
                        <button class="dropbtn"><span>SERVICES</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown col-3">
                        <button class="dropbtn"><span>DIVERS</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>

</div>

        <!-- Cards deroulement -->

<!-- RECHERCHE PAR REGIONS -->

        <div class="home_title2 text-center">
            <h2>RECHERCHE PAR RÉGIONS</h2>
        </div>

        <div>
            <div class="row rangee">
                    <div class="dropdown col-3">
                            <button class="dropbtn"><span>OUEST</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                        <div class="dropdown col-3">
                            <button class="dropbtn"><span>SUD-EST</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                        <div class="dropdown col-3">
                            <button class="dropbtn"><span>NORD</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                        <div class="dropdown col-3">
                            <button class="dropbtn"><span>DROM</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </div>

                <div class="row rangee">
                    <div class="dropdown col-4">
                            <button class="dropbtn mx-2"><span>SUD-OUEST</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                    </div>
                    <div class="dropdown col-4">
                            <button class="dropbtn mx-2"><span>EST</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                    </div>
                    <div class="dropdown col-4">
                            <button class="dropbtn mx-2"><span>CENTRE</span></br><i class="fa-solid fa-chevron-down" style="color: #F55E00"></i></button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </div>
            </div>
        </section>


{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>               
    <script src="/assets/js/script.js"></script>
{% endblock %}


