{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class=" swiper mySwiper">
    <div class="swiper-wrapper">
       <div class="swiper-slide">
        <img src="images/1.jpg" alt="buddha">
        <div class="center">
        </div>
       </div>

     
       <div class="swiper-slide">
        <img src="images/2.jpg" alt="elephant">
        <div class="center">
            <h5>Eléphant de Thailand</h5>
            <P> Découvrir cet animal fascinant est une expérience incroyable à vivre durant ses vacances en Thailande. Mais le choix du centre
                peut parfois s’avérer compliqué. Il existe en effet de nombreux parcs et camps d’éléphants en Thaïlande où ces derniers ne sont
                pas traités avec le respect qu’ils méritent.
            </P>
        </div>
       </div>

       <div class="swiper-slide">
        <img src="images/3.jpg" alt="temple">
        <div class="center">
            <h5>Temple de Thailand</h5>
            <P> Les temples de Thaïlande ravissent toujours les visiteurs par leur architecture, leurs couleurs, leurs ors et la sérénité qui s’en dégage.
                Ce sont des temples bouddhistes, la forme de bouddhisme dominante en Thaïlande étant le bouddhisme Theravada, ou « doctrine des Anciens ». 
                Celle-ci est fondée sur des textes relatant les paroles du Bouddha.
            </P> 
        </div>
       </div>


   <div class="swiper-slide">
        <img src="images/4.jpg" alt="Costumes">
        <div class="center">
            <h5>Costumes traditionnels Thailand</h5>
            <P> Les vêtements traditionnels thaïlandais sont appelés chut thai (thaï : ชุดไทย), qui signifie littéralement en français «tenue thaïlandaise».
                Il peut être porté par les hommes, les femmes et les enfants. Le chut thai pour femme se compose généralement d'un pha nung ou d'un pha chung hang
                d'un chemisier et d'un pha biang . 
            </P>
        </div>
       </div>

       <div class="swiper-slide">
        <img src="images/5.jpg" alt="riziére">
        <div class="center">
            <h5>Riziére en Thailand</h5>
            <P> Les rizières peuvent se visiter dans tout le pays, particulièrement dans l'Est en Issan qui est d'ailleurs nommé le grenier à riz du pays, mais c'est
                dans la région montagneuse autour de la ville de Chiang Mai que se situent les rizières à étage que tout occidental venant visiter l'Asie pour
                la première fois
            </P>
        </div>
       </div>

       <div class="swiper-slide">
        <img src="images/6.jpg" alt="temple 2">
        <div class="center">
            <h5>Temple en Thailand</h5>
            <P> Chiang Mai, la deuxième plus grande ville du pays, est un vrai repaire de touristes et d expats. Chaque personne qui y met les pieds dit être tombé sous
                le charme de cette ville, et on comprend facilement pourquoi. Outre sa gastronomie délicieuse et son ambiance détendue, Chiang Mai est par dessus tou
            </P>
        </div>
       </div>


       <div class="swiper-slide">
        <img src="images/7.jpg" alt="ile">
        <div class="center">
            <h5>Ile en thailand</h5>
            <P> Si vous aimez faire la fête sur les plages, la foule, la musique techno et boire vos cocktails dans des seaux, l île de Koh Pha Ngan est une île pour vous.
                C est le lieu de la célèbre fête de la pleine lune ou full moon party en Thaïlande.
        </div>
       </div>


   <div class="swiper-slide">
        <img src="images/8.jpg" alt="Femmes Thailand">
        <div class="center">
            <h5>Femmes Thailand</h5>
            <P> Les sociologues et historiens diront mieux que moi comment la riziculture a influencé le rôle de la femme dans les sociétés qui sont basées sur elle, par opposition
                à celles centrées sur les activités plus masculines d’élevage et de culture du blé ou du maïs.En 2005, et sans qu’une quelconque révolution ait eu lieu, 52% de la
                population active est féminine. 
            </P>
        </div>
       </div>


       <div class="swiper-slide">
        <img src="images/9.jpg" alt="Pecheur">
        <div class="center">
            <h5>Bangkok pecheur</h5>
            <P> Au bord des lacs de pêche de la région de Bangkok puis dans la nature sauvage et paisible, vous vivrez un voyage 100% pêche d'une grande variété.
                Des duels avec des poissons d'eau douce de plus de 100kg, des techniques variées, un pays convivial, une nature splendide et un guide passionné 
                qui vous ouvrira les portes du Paradis des pêcheurs.
            </P>
        </div>
       </div>

       <div class="swiper-slide">
        <img src="images/10.jpg" alt="food">
        <div class="center">
            <h5>Food thailand</h5>
            <P> La cuisine thaïlandaise est réputée pour deux caractéristiques principales : elle est délicieuse, et elle est épicée. Le riz en constitue la base,
                frit puis accommodé de différentes façons avec des viandes (bœuf ou porc), du poisson, du crabe, des crevettes. On n'échappe pas non plus aux nouilles sautées.
            </P>
        </div>
       </div>

    </div>
    <div class="swiper-pagination"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="script.js">

       
    </script>
</body>
{% endblock %}
