{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | 404{% endblock %}

{% block body %}

<main>

 <!--  P404   -->
    <section class="container">

        <div class="text-center">
            <img width="75%" src="/assets/illustrations/page_404_error.png" alt="page_404_error">
        </div>

        <div class="text-center" >
            <p id="oups"> Oupsss !</p>
            <p id="desole"> Désolé, cette page est introuvable</p>
        </div>


    </section>

</main>
{% endblock %}