{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | En Construction{% endblock %}

{% block body %}

    <main>

 <!--  En construction   -->
    <section class="container">

        <div class="text-center">
            <img width="75%" src="assets/illustrations/en_construction.svg" alt="page_404_error">
        </div>

        <div class="text-center" >
            <p id="desole"> A venir très prochainement</p>
        </div>


    </section>

</main>

{% endblock %}