{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Error{% endblock %}

{% block body %}
    <main>

 <!--  P VIDE   -->
        <section class="container">

            <div  class="text-center" >
                <img width="75%" src="assets/illustrations/page_error_produit.png" alt="page_404_error">
            </div>

            <div class="text-center" >
                <p id="desole"> Cette page ne contient pas de produit.</p>
            </div>


        </section>

    </main>

{% endblock %}