



<!--____________________________FOOTER DOMINIKA __________________________________________________________________-->

<footer>
    <div class="container" >
    <div class="row paddingauto">
        <div class=" col-12 col-md-6 col-xl-3">
            <h5> À PROPOS DU BONCOIN </h5>
            <p> Qui sommes nous ? </p>
            <p> Nous rejoindre </p>
            <p> Nos engagements </p>
            <p> L’avenir a du bon </p>
            <p> Le bon observatoire </p>
            <p> Espace presse </p>
        </div>

        <div class=" col-12 col-md-6 col-xl-3">
            <h5> INFORMATION LÉGALES </h5>
            <p> Conditions générales d'utilisation </p>
            <p> Référencement et classement
                des annonces </p>
            <p> Conditions générales de vente </p>
            <p> Vie privée / cookies </p>
            <p> Vos droits et obligations </p>
            <p> Avis aux utilisateurs </p>
            <p> Charte de bonne conduite </p>
            <p> Paiement en plusieurs fois </p>
            <p> Accessibilité </p>
        </div>

        <div class=" col-12 col-md-6 col-xl-3">
            <h5> NOS SOLUTIONS PROS </h5>
            <p> Publicité </p>
            <p> Professionnels de l'immobilier </p>
            <p> Vos recrutements </p>
            <p> Professionnels de l'auto </p>
            <p> Professionnels du tourisme </p>
            <p> Autres solutions professionnelles </p>
            <p> Annuaire des professionnels </p>
            <p> Dépôt gratuit d'emploi pour les TPE </p>
        </div>

        <div class=" col-12 col-md-6 col-xl-3">
            <h5> DES QUESTIONS ? </h5>
            <p> Aide </p>
            <p> Le service de paiement
                sécurisé et la livraison </p>
            <p> Le porte monnaie </p>
            <p> Le service de réservation
                de vacances en ligne pour les hôtes </p>
            <p> Votre dossier de localisation en ligne </p>
            <p> Statut de nos services</p>
        </div>
    </div>

    <div class="row paddingauto">
        <div class="text-center col-6"> 
            <h5 class="applipadding"> NOS APPLICATIONS </h5>
            <img src="../assets/img/appstore.png" alt="appstore">
            <img src="../assets/img/googleplay.png" alt="googleplay">
            
        </div>

        <div class="text-center col-6"> 
            <h5 class="reseauxpadding"> RETROUVEZ-NOUS SUR </h5>
            <a href="https://www.linkedin.com/authwall?trk=qf&original_referer=https://www.google.com/&sessionRedirect=https%3A%2F%2Ffr.linkedin.com%2F"><img src="../assets/icones/linkedin_almostblack.svg" alt="linkedin"></a>
            <a href="https://twitter.com/i/flow/login?redirect_after_login=%2F%3Flang%3Dfr"><img src="../assets/icones/twitter_almostblack.svg" alt="twitter"></a>
            <a href="https://www.instagram.com/leboncoin/?hl=fr"><img src="../assets/icones/instagram_almostblack.svg" alt="instagram"></a>
            <a href="https://www.pinterest.fr/leboncoin/"><img src="../assets/icones/pinterest_almostblack.svg" alt="pinterest"></a>
        </div>

    </div>

    <div class="row paddingauto">
        <div class="flex_footer col-12"> 
            <h5 class="zeromarg"> EXCELLENT </h5>
            <div>
                <img src="../assets/icones/star_almost_black.svg" alt="full_star"> 
                <img src="../assets/icones/star_almost_black.svg" alt="full_star">
                <img src="../assets/icones/star_almost_black.svg" alt="full_star">
                <img src="../assets/icones/star_almost_black.svg" alt="full_star">
                <img src="../assets/icones/star_almost_black.svg" alt="full_star">
            </div>
            <p class="zeromarg"> 83801 avis sur </p>
            <div>
                <img width="103.802px" height="25.509px" src="../assets/img/trustpilot.png" alt="trustpilot">
            </div>
        
        </div>

    </div>

    
    <p class="lastp"> leboncoin : AVendreALouer . leboncoin immobilier neuf . L’argus . Agriaffaires . Machineryzone . Truckscorner . Locasun . Locasun-vp . Videdressing . Ledénicheur .Younited Credit</p>
    
    <p class="text-center">leboncoin 2006 - 2023</p>

    </div>
</footer>