 
 
 <header class="navhead">

        <!-- nav ligne 1 -->

        

            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container">
                    <a class="navbar-brand" href="#"><img src="assets/icones/logo/Property 1=original.png"
                            alt="logo"></a>

                    <a href="#" class="btn">Déposer une annonce</a>



                    <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Rechercher sur leboncoin" aria-label="Search">
          </form> -->

                    <form class="container">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <img src="assets/icones/loupe_flitres/loupe_gris.svg" alt="icone loupe">
                                <input type="text" class="form-control" placeholder="Rechercher sur leboncoin"
                                    aria-label="Search" aria-describedby="basic-addon1">
                        </div>
                    </form>

                    <div class="liens-navhaut">
                        <div>
                            <img src="assets/icones/cloches/cloche_noir_pleine.svg" alt="">
                        </div>
                        <div>
                            <p>Notifications</p>
                        </div>
                    </div>

                    <div class="liens-navhaut">
                        <div>
                            <img src="assets/icones/coeurs/coeur_noir_plein.svg" alt="">
                        </div>
                        <div>
                            <p>Favoris</p>
                        </div>
                    </div>

                    <div class="liens-navhaut">
                        <div>
                            <img src="assets/icones/message/message_plein.svg" alt="">
                        </div>
                        <div>
                            <p>Messages</p>
                        </div>
                    </div>

                    <div class="liens-navhaut">
                        <div>
                            <img src="assets/icones/profil/profil_plein_small.svg" alt="">
                        </div>
                        <div>
                            <p>Se&nbsp;connecter</p>
                        </div>
                    </div>

                    



                </div>
            </nav>


        <!-- nav ligne 2 -->
                    <nav id='menu'>
                        <ul class="navbas">
                            <li><a href="#">Immobilier&nbsp;</a></li>
                            <li><a href="#">Véhicules&nbsp;</a></li>
                            <li><a href="#">Vancances&nbsp;</a></li>
                            <li><a href="#">Emplois&nbsp;</a></li>
                            <li><a href="#">Mode&nbsp;</a></li>
                            <li><a href="#">Maison&nbsp;</a></li>
                            <li><a href="#">Multimédia&nbsp;</a></li>
                            <li><a href="#">Materiel&nbsp;Professionnel&nbsp;</a></li>
                            <li><a href="#">Autres&nbsp;</a></li>
                            <li><a>Enchères</a>
                                <ul class='sub-menus'>
                                    <li><a href="#">Multimédia</a></li>
                                    <li><a href="#">Mode</a></li>
                                    <li><a href="#">Livres</a></li>
                                    <li><a href="#">Maison</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
      

                



    </header>