{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
 <main>

 <!-- ***** PRODUITS CAT *****  -->
        <section class="container">

            <div class="flex category">
                <h1 class="h_one_cat">Informatique</h1>
            </div>

            <div class="row row_cat row_one">
                <div class="col-12 col-md-3">
                    <div class="card">
                        <div class="card-img-top cardimgbg"> </div>
                        <div class="card-body">
                                <div class="flex title_heart">
                                    <h5 class="card-title-cat">Title</h5>
                                   <img src="/assets/icones/coeurs/coeur_vide_gris.svg" alt="coeur">
                                </div>
                        </div>
                    </div>
                </div>

               


            </div>

        </section>

        <section class="container">

            <div class="flex category">
                <h1 class="h_one_cat">Console & Jeux vidéos</h1>
            </div>

            <div class="row row_cat row_one">
                <div class="col-12 col-md-3">
                    <div class="card">
                        <div class="card-img-top cardimgbg"> </div>
                        <div class="card-body">
                                <div class="flex title_heart">
                                    <h5 class="card-title-cat">Title</h5>
                                   <img src="/assets/icones/coeurs/coeur_vide_gris.svg" alt="coeur">
                                </div>
                        </div>
                    </div>
                </div>

               


            </div>

        </section>

        <section class="container">

            <div class="flex category">
                <h1 class="h_one_cat">Image et son</h1>
            </div>

            <div class="row row_cat row_one">
                <div class="col-12 col-md-3">
                    <div class="card">
                        <div class="card-img-top cardimgbg"> </div>
                        <div class="card-body">
                                <div class="flex title_heart">
                                    <h5 class="card-title-cat">Title</h5>
                                   <img src="/assets/icones/coeurs/coeur_vide_gris.svg" alt="coeur">
                                </div>
                        </div>
                    </div>
                </div>

               


            </div>

        </section>

        <section class="container">

            <div class="flex category">
                <h1 class="h_one_cat">Téléphonie</h1>
            </div>

            <div class="row row_cat row_one">
                <div class="col-12 col-md-3">
                    <div class="card">
                        <div class="card-img-top cardimgbg"> </div>
                        <div class="card-body">
                                <div class="flex title_heart">
                                    <h5 class="card-title-cat">Title</h5>
                                   <img src="/assets/icones/coeurs/coeur_vide_gris.svg" alt="coeur">
                                </div>
                        </div>
                    </div>
                </div>

               


            </div>

        </section>

    </main>
{% endblock %}
