{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Recherche par catégorie{% endblock %}

{% block body %}
 <main>

 <!-- ***** PRODUITS CAT *****  -->
        <section class="container">
  
          
            {% for sub in subcategory %}

                <div class="flex category">
                    <h1 class="h_one_cat">{{ sub.subcategory }}</h1>
                </div>
                {% for auction in sub.auctions %}
                    <div class="row row_cat row_one">
                        <div class="col-12 col-md-3">
                            <div class="card">
                                {% if auction.pictures is empty %}
                                <div class="card-img-top cardimgbg"> </div>
                                {% else %}
                                <div class="card-img-top cardimgbg"><img src="/uploads/pictures/{{ auction.pictures[0] }}" alt="image de l'enchère"></div>
                                {% endif %}
                                <div class="card-body">
                                        <div class="flex title_heart">
                                            <h5 class="card-title-cat">{{ auction.title }}</h5>
                                        <img src="/assets/icones/coeurs/coeur_vide_gris.svg" alt="coeur">
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}   
            {% endfor %}   



        </section>

       
    </main>
{% endblock %}
