{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Recherche par catégorie{% endblock %}

{% block body %}
 <main>

 <!-- ***** PRODUITS CAT *****  -->
        <section class="container">
  
          
            {% for sub in subcategory %}
                {% if loop.index <= 4 %}
                    <div class="flex category mt-5">
                        <h1 class="h_one_cat">{{ sub.subcategory }}</h1>
                    </div>
                    
                    <div class="d-flex flex-row mt-2 mb-5">

                        {% for auction in sub.auctions %}
                        
                            <a class="col-3 mx-3 cardlink" href="{{ path('app_auction_detail', {'id': auction.id}) }}">
                                <div class="cardlbc">
                                    {% if auction.pictures is empty %}
                                    <div class="card-img-top cardimglbc"></div>
                                    {% else %}
                                        <div class="card-img-top cardimglbc">
                                            <img src="/uploads/pictures/{{ auction.pictures[0] }}" class="img_card_auction" alt="image de l'enchère">
                                        </div>
                                    {% endif %}
                                    <div class="card-body">
                                            <div class="d-flex flex-row justify-content-between">
                                                <div>
                                                    {# Limiter l'affichage du titre sur 25 caractères max #}
                                                    <H5 class="cat-card-title myb-1">{{ auction.title|length > 25 ? auction.title|slice(0, 25) ~ '...' : auction.title }}</h5>
                                                </div>
                                                <div class="me-2">
                                                    <img src="/assets/icones/coeurs/coeur_vide_gris.svg" alt="coeur">
                                                </div>
                                            
                                            </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %} 

                    </div>
                {% endif %}
            {% endfor %}   



        </section>

       
    </main>
{% endblock %}
