{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Récapitulatif de l'enchère{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 mb-4">Récapitulatif de l'enchère</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 bg-orange text-black">
                        {% if auction.getPictures|length > 0 %}
                        {% for picturePath in auction.getPictures %}
                             <img src="{{ asset('uploads/pictures/' ~ picturePath) }}" class="card-img-top" alt="Photo de l'enchère">
                        {% endfor %}
                    {% else %}
                        <p>Aucune image disponible</p>
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">title : {{ auction.title }}</h2>
                        <p class="card-text">Prix de départ : {{ auction.startPrice }} €</p>
                        <p class="card-text">Mode de livraison : {{ auction.deliveryMode }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


