 {% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Choix du type d'annonce{% endblock %}


{% block body %}
<section class="container">
    <a href="{{ path('app_home') }}" class="backpad ">Retour</a>

    <div class="choiceflex">
        <p class="choicep">Choisissez le type d'annonce que vous voulez déposer</p>
        <a href="#" class="bouton boutonS btnchoice btnpad">Déposer&nbsp;une&nbsp;annonce&nbsp;classique</a>
        <a href="{{ path ('app_auction_new_auction')}}" class="bouton boutonS btnchoice">Déposer&nbsp;une&nbsp;vente&nbsp;aux&nbsp;enchères</a>
    </div>
</section>
{% endblock %}



