{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de la nouvelle enchère{% endblock %}

{% block body %}

<h1>Récapitulatif de la nouvelle enchère</h1>

<p>Contenu du récapitulatif...</p>

{% endblock %}