{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{ auction.nom }}</h1>
	<img src="{{ auction.image }}" alt="Image de l'enchère">
	<p>Vendeur :
		{{ auction.vendeur }}</p>
	<p>Description :
		{{ auction.description }}</p>
{% endblock %}
