<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>leboncoin</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css%22%3E">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="../../public/assets/css/DH_18_07_style_new.css">
</head>

<body>

    <main>


        <article>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item"><a href="#">Multimédia</a></li>
                                <li class="breadcrumb-item"><a href="#">Smartphone</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Iphone 13</li>
                            </ol>
                        </nav>
                        <!-- ne pas coller les image -->
                        <div class="photo">

                            <div class="row">
                                <div class="col-6 img_card">
                                    <img width="100%" src="assets/Img-figma/affiche-ordi@3x.png" class="rounded float-start" alt="image 1">
                                </div>
                                <div class="col-6 img_card">
                                    <img width="100%" src="assets/Img-figma/affiche-ordi@3x.png" class="rounded float-start" alt="image 2">
                                </div>
                            </div>


                            <div class="d-flex">


                                <div class="image">
                                    <img width="100%" src="assets/Img-figma/affiche-ordi@3x.png" class="rounded float-start" alt="image 3">
                                </div>
                                <div class="voir_plus">
                                    <a href="#">
                                        <img src="assets/icones/fleches/fleche_voirplus.svg" alt="fleche voir plus">
                                    <p>
                                        Voir plus
                                    </p>   
                                    </a>
                                </div>

                            </div>
                        </div>


                        <div class="">
                            <div class="d-flex">
                                <div>
                                    <h1>Iphone 13</h1>
                                </div>


                                <div>
                                    <p>Année:</p>
                                </div>
                                <div>
                                    <p>2020</p>
                                </div>
                                <div>
                                    <p>État:</p>
                                </div>
                                <div>
                                    <p> Très bon</p>
                                </div>

                            </div>
                            <div>
                                <p>Annonce publiée le: 17/07/2023 à 13:45</p>
                            </div>
                        </div>

                        <hr>

                        <div>
                            <h2>Description</h2>

                            <div>
                                <p>Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Labore tempore neque exercitationem enim? Totam, alias minus.
                                    Animi,
                                    quos
                                    adipisci deserunt, fugiat tempore eos asperiores inventore explicabo rem
                                    reiciendis
                                    iure
                                    nemo?
                                </p>
                            </div>

                        </div>

                        <hr>

                        <div>
                            <h2>Critères</h2>
                            <div class="d-flex">

                                <div class="d-flex">
                                    <img src="assets/icones/criteres/critere_etat.svg" alt="etat">
                                    <p>État</p>
                                    <span>Très bon état</span>
                                </div>


                                <div class="d-flex">
                                    <img src="assets/icones/criteres/critere_marque.svg" alt="marque">

                                    <p>Marque</p>
                                    <span>Apple</span>
                                </div>


                                <div class="d-flex">
                                    <img src="assets/icones/criteres/critere_marque.svg" alt="">
                                    <p>Modèle</p>
                                    <span>Iphone 13</span>
                                </div>


                                <div class="d-flex">
                                    <img src="assets/icones/criteres/criteres_couleur.svg" alt="">
                                    <p>Couleur</p>
                                    <span>Noir</span>
                                </div>


                                <div class="d-flex">
                                    <img src="assets/icones/criteres/criteres_stockage.svg" alt="">
                                    <p>Stockage</p>
                                    <span>128 GO</span>
                                </div>


                            </div>

                        </div>

                        <hr>

                        <div>
                            <h2>Remise en main propre avec paiement sécurisé </h2>
                            <div class="d-flex">
                                <img src="assets/icones/badge_certif/badge_certif_euro.svg" alt="">
                                <p>Réservez ce bien jusqu’au rendez-vous avec le vendeur</p>
                            </div>
                            <div class="d-flex">
                                <img src="assets/icones/information/smiley.svg" alt="">
                                <p>Restez libre de refuser ce bien s’il ne correspond pas à vos attentes</p>
                            </div>
                            <a href="#">Comment ça marche ?</a>
                        </div>

                        <hr>

                        <div>

                            <h2>Livraison</h2>
                            <p>Recevez ce bien à domicile ou a deux pas de chez vous</p>
                            <div class="d-flex">
                                <div>
                                    <div class="d-flex">
                                        <p>Mondiale Replay</p>
                                        <img src="assets/icones/rs_livraison/mondialrelay.svg"
                                            alt="logo Mondial Replay">
                                    </div>
                                    <p>En point Mondial Relay <br> sous 3-5 jours</p>
                                </div>
                                <div>
                                    <div class="d-flex">
                                        <p>Chronopost</p>
                                        <img src="assets/icones/rs_livraison/chronopost.svg" alt="logo Chronopost">
                                    </div>
                                    <p>En point Pickup <br> sous 3-5 jours</p>
                                </div>
                            </div>

                        </div>

                        <hr>

                        <div>
                            <h2>Protection leboncoin</h2>
                            <div class="d-flex">
                                <img src="assets/icones/badge_certif/badge_certifie_noir.svg" alt="badge certif">
                                <p>Votre argent est sécurisé jusqu’à la confirmation de récupération de
                                    l’article</p>
                            </div>
                            <div class="d-flex">
                                <img src="assets/icones/information/team.svg" alt="icone team">
                                <p>Une équipe dédiée à votre service</p>
                            </div>
                            <a href="#">Plus d’informations sur le paiement sécurisé</a>
                        </div>

                        <hr>

                        <div>
                            <div class="d-flex">
                                <img src="assets/icones/localisation/localisation_noir.svg" alt="">
                                <h3>
                                    Moulins
                                    <span>(03000)</span>
                                </h3>
                            </div>
                            <div id="map" class="">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d33331.95175492223!2d3.3089362651047494!3d46.555986152583635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f11c3130b4dc93%3A0x4093cafcbebbfa0!2s03000%20Moulins!5e0!3m2!1sfr!2sfr!4v1689598072679!5m2!1sfr!2sfr"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>

                    </div>

                    <aside class="col-12 col-md-4">
                        <div class="card_border_top profil">
                            <img src="assets/icones/profil/profil_cercle_certif.svg" alt="photo de profil">
                            <div>
                                <h2>Antoine</h2>
                                <p>
                                    7 annonces
                                </p>
                                <div class="row tps_restant">
                                    <div class="col-2">
                                        <img src="assets/icones/timer/chrono_noir.svg" alt="timer">
                                    </div>
                                    <div class="col-10 d-flex align-center sixh">
                                        <p class="rep_gen">
                                            Répond généralement dans les 6 heures
                                        </p>
                                    </div>
                                </div>
                                <div class="m-3">
                                    <img src="assets/icones/etoile/etoile_orange.svg" alt="Étoiles">
                                    <img src="assets/icones/etoile/etoile_orange.svg" alt="Étoiles">
                                    <img src="assets/icones/etoile/etoile_orange.svg" alt="Étoiles">
                                    <img src="assets/icones/etoile/etoile_orange.svg" alt="Étoiles">
                                    <img src="assets/icones/etoile/demi_etoile_orange.svg" alt="Étoiles">
                                </div>

                            </div>


                            <div class="m-2">
                                <a class="bouton bouton_orangeoutline boutonS" href="#">Message</a>
                            </div>


                            <div class="detail_vend">
                                <a href="#">Détails vendeur</a>
                            </div>

                        </div>
                        <div class="card_border enchères">

                            <div class="d-flex">
                                <img src="assets/icones/marteau/marteau_orange_small copie.svg" alt="icon enchères">
                                <p>La vente se termine dans 00:30 minutes</p>
                            </div>
                            <div>
                                <h2>
                                    Enchères actuelle :
                                </h2>
                                <h3>
                                    180 €
                                </h3>
                            </div>
                            <div>
                                <p>Votre offre :</p>
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>

                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        M’alerter en cas de nouvelle enchère
                                    </label>
                                </div>
                            </div>

                            <div>
                                    <a class="bouton bouton_orange boutonS" href="#">Valider</a>
                                
                            </div>

                        </div>

                    </aside>
                </div>
            </div>


        </article>



        <section class="container">

            <div class="col-12 col-md-8">
                <hr>
                <div>
                    <div>
                        <a href="#">
                            <img src="assets/icones/profil/profil_cercle_certif.svg" alt="avatar de l’utilisateur">
                        </a>
                    </div>
                    <div class="d-flex">
                        <div>
                            <h2><a href="#">Anthony</a></h2>
                            <a href="#">
                                <p>29 annonces</p>
                            </a>
                        </div>
                        <div>
                            <button class="bouton bouton_orange boutonS">Suivre</button>
                        </div>
                    </div>
                    <div>
                        <h3>
                            Membre depuis janvier 2023
                        </h3>
                        <div class="d-flex">
                            <img src="assets/icones/timer/chrono_noir.svg" alt="chrono noir">
                            <p>
                                Répond généralement dans les 6 heures
                            </p>
                        </div>
                        <a href="#">Voir les annonces d'Antoine</a>

                        <div class="d-flex">
                            <div class="d-flex">
                                <img src="assets/icones/information/drapeau.svg" alt="drapeau signaler">
                                <p>Signaler l'annonce</p>
                            </div>
                            <div class="d-flex">
                                <img src="assets/icones/information/information.svg" alt="icone information">
                                <p>Vos droits et obligations</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr>
            </div>

        </section>

    </main>


</body>

</html>