{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Paiement 1/2{% endblock %}

{% block body %}

<main>

{# //Décoration #}
<div>
    <div></div>
    <div></div>
</div>

{# //Partie gauche #}
<div>

</div>

{# //Partie droite #}
<div>

</div>

</main>




{% endblock %}