{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Résultats de la recherche{% endblock %}

{% block body %}


<section class="container">
  
          
           

                <div class="flex category">
                    <h1 class="h_one_cat">Les résultats contenant {{ keyword }}</h1>
                </div>
                {% for keyword, auction in results %}
                    <div class="row row_cat row_one">
                        <a class="col-12 col-md-3" href="{{ path('app_auction_detail', {'id': auction.id}) }}">
                            <div class="card">
                                {% if auction.pictures is empty %}
                                <div class="card-img-top cardimgbg"> </div>
                                {% else %}
                                <div class="card-img-top cardimgbg"><img src="/uploads/pictures/{{ auction.pictures[0] }}" alt="image de l'enchère"></div>
                                {% endif %}
                                <div class="card-body">
                                        <div class="flex title_heart">
                                            <h5 class="card-title-cat">{{ auction.title }}</h5>
                                        <img src="/assets/icones/coeurs/coeur_vide_gris.svg" alt="coeur">
                                        </div>
                                </div>
                            </div>
                        </a>
                    </div>
                 
            {% endfor %}   



        </section>
{% endblock %}


