{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de l'enchère{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
<head>
    <title>Search Form</title>
</head>
<body>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Search</button>
    {{ form_end(form) }}
</body>
</html>
{% endblock %}


