{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Résultats de la recherche{% endblock %}

{% block body %}


<section class="container">

            <div class="d-flex category mt-3">
                <h1 class="h_one_cat h3">Les résultats contenant <strong>"{{ keyword }}"</strong></h1>
            </div>

            <div class="d-flex flex-row mt-2 mb-5">
                {% for keyword, auction in results %}
                    {% if loop.index <= 12 %}
                        <!--<div class="col-3 d-flex my-4 mx-2">-->
                            <a class="col-3 mx-3 cardlink" href="{{ path('app_auction_detail', {'id': auction.id}) }}">
                                <div class="cardlbc">
                                    {% if auction.pictures is empty %}
                                        <div class="card-img-top cardimgbg"> </div>
                                    {% else %}
                                        <div class="card-img-top cardimglbc">
                                            <img src="/uploads/pictures/{{ auction.pictures[0] }}" class="img_card_auction" alt="image de l'enchère">
                                        </div>                               
                                    {% endif %}
                                    <div class="card-body">
                                        <div class="d-flex flex-row justify-content-between">
                                            <div>
                                                {# Limiter l'affichage du titre sur 25 caractères max #}
                                                <h5 class="cat-card-title myb-1 card_search">{{ auction.title|length > 25 ? auction.title|slice(0, 25) ~ '...' : auction.title }}</h5>
                                            </div>
                                            <div class="me-2">
                                                <img src="/assets/icones/coeurs/coeur_vide_gris.svg" alt="coeur">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                    {% endif %}
                {% endfor %}   
            </div>



        </section>
{% endblock %}


