
/* CSS COMMUN */ 

/* COLORS */
:root{
    --lb_orange:#F55E00;
    --almost_black: #040404;
    --gris: #C4C4C4;
    --shade_orange: #FFE5D7;
    --vintage_white: #FCFBF7;
}

/* FONT */

* {
  
    font-family: Satoshi;
    src: url("/public/assets/font/Satoshi-Medium.woff2");

}


body{
    background: var(--vintage_white);
}


/* CSS COMMUN FOOTER _DOMINIKA 17/07 */


footer{
    background: var(--shade_orange);
    color: var(--almost_black);
    width: 1920px;
    padding: 20px 0px;
    gap: 40px;
}

.container{
    width: 1052px;
}


.flex_footer{
    display: flex;
    justify-content: center;
    gap: 14px;

}

.lastp{
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    padding: 1em;
}

.paddingauto{
    padding-bottom: 40px;
}


.zeromarg{
    margin-bottom: 0;
}

.applipadding{
    padding-bottom: 51px;
}

.reseauxpadding{
    padding-bottom: 69px;
}
