

.map{

    text-align: center;
}

.address_field{
   
    text-align: center;

}

/*

umap

):r_PFGEp:+6J]'

https://docs.framasoft.org/fr/umap/7-publication-et-droit-d-acces.html

https://wiki.openstreetmap.org/wiki/API
*/


