{# templates/user/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Éditer l'utilisateur</h1>
    {# Votre code pour afficher le formulaire d'édition de l'utilisateur #}
{% endblock %}
