{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Profil{% endblock %}

{% block body %}
<main class="container">

        <div class="d-flex">
            <div class="col-12 col-md-8">
                <div class="pp d-flex">
                    <div class="d-flex">
                        <img src="assets/icones/profil/profil_cercle_certif.svg" alt="icone profil certifié">
                        <h1>Alex</h1> 
                    </div>
                    <div>
                        <a href="#">Ajouter ma photo de profil</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="porte_monnaie d-flex ">
                    <div>
                        <h4>Porte monnaie</h4>
                        <h3>0 €</h3>
                        <p>Solde disponible</p>
                    </div>
                    <div>
                        <img src="assets/icones/porte_monnaie_illu.svg" alt="illustration tirelire cochon">
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-12">
            <div class="col-12 col-md-4">
                <div class="card_profil">
                    <div class="icones_profil">
                        <img src="assets/icones/card_profil/card_profil_annonce.svg" alt="">
                    </div>
                    <h4>Annonce</h4>
                    <p>Gérer mes annonces déposées</p>
                </div>
            </div>


            <div class="col-12 col-md-4">
                <div class="card_profil">
                    <div class="icones_profil">
                        <img src="assets/icones/card_profil/card_profil_euro.svg" alt="">
                    </div>
    
                    <h4>Transaction</h4>
                    <p>Suivre mes achats et mes ventes</p>
                </div>
            </div>


            <div class="col-12 col-md-4">
                <a href="#">
                    <div class="card_profil ">
                        <div class="icones_profil">
                            <img src="assets/icones/card_profil/notifications_24px.svg" alt="">
                        </div>
        
                        <h4>Notifications</h4>
                        <p>Consulter mes notifications</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <div class="card_profil">
                    <div class="icones_profil">
                        <img src="assets/icones/card_profil/card_profil_user.svg" alt="">
                    </div>
    
                    <h4>Profil</h4>
                    <p>Modifier mon profil public, consulter les avis</p>
                </div>
            </div>


            <div class="col-12 col-md-4">
                <div class="card_profil">
                    <div class="icones_profil">
                        <img src="assets/icones/card_profil/card_profil_parametres.svg" alt="">
                    </div>
    
                    <h4>Paramètres</h4>
                    <p>Compléter et modifier mes informations</p>
                </div>
            </div>


            <div class="col-12 col-md-4">
                <div class="card_profil">
                    <div class="icones_profil">
                        <img src="assets/icones/card_profil/card_profil_certif.svg" alt="">
                    </div>
    
                    <h4>Connexion et sécurité</h4>
                    <p>Protéger mon compte</p>
                </div>
            </div>


            <div class="card_profil col-12 col-md-4">
                <div class="icones_profil">
                    <img src="assets/icones/card_profil/card_profil_cb.svg" alt="">
                </div>

                <h4>Crédits</h4>
                <p>Consulter mes crédits</p>
            </div>

            
            <div class="card_profil col-12 col-md-4">
                <div class="icones_profil">
                    <img src="assets/icones/card_profil/card_profil_aide.svg" alt="">
                </div>

                <h4>Aide</h4>
                <p>FAQ</p>
            </div>
            <div class="se_deconnceter col-12 col-md-4">
                <a class="bouton bouton_orangeoutline boutonS" href="{{path('app_logout')}}">Se deconnecter</a>
            </div class="card_profil">
        </div>

    </main>
{% endblock %}


