{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Profil{% endblock %}

{% block body %}
<section class="container">
        <div class="row">
            <div class="col-8 ps-0 pe-0">
                <div class="pp d-flex p-3">
                    <div class="d-flex">
                        <img class="me-2" src="/assets/icones/profil/profil_cercle_certif.svg" alt="icone profil certifié">
                        <h1>Alex</h1> 
                    </div>
                    <div>
                        <a href="{{ path('app_en_construction')}}" class="profil_a me-2">Ajouter ma photo de profil</a>
                    </div>
                </div>
            </div>
            <div class="col porte_monnaie d-flex justify-content-between ms-2 pe-3">
                    <div class="d-flex flex-column justify-content-center">
                        <span class="pm_title text-left">Porte monnaie</span>
                        <span class="pm_title text-left">0 €</span>
                        <span class="pm_subtitle text-left">Solde disponible</span>
                    </div>
                    <div>
                        <img src="/assets/illustrations/Porte_monnaie.svg" alt="illustration tirelire cochon">
                    </div>
            </div>
        </div>
</section>
<section class="container">
        <div class="row my-4">
                <div class="card_profil col me-3">
                    <div class="icones_profil">
                        <img src="/assets/icones/card_profil/card_profil_annonce.svg" alt="">
                    </div>
                    <h4>Annonce</h4>
                    <p>Gérer mes annonces déposées</p>
                </div>

                <div class="card_profil col me-3">
                    <div class="icones_profil">
                        <img src="/assets/icones/card_profil/card_profil_euro.svg" alt="">
                    </div>
    
                    <h4>Transaction</h4>
                    <p>Suivre mes achats et mes ventes</p>
                </div>

                <div class="card_profil col">
                    <a href="{{ path('app_user_notifications') }}" class="profil_a_nu">
                        <div class="icones_profil">
                            <img src="/assets/icones/card_profil/notifications_24px.svg" alt="">
                        </div>
        
                        <h4>Notifications</h4>
                        <p>Consulter mes notifications</p>
                    </a>
                </div>
              
            </div>
</section>
<section class="container">
            <div class="row my-4">
                <div class="card_profil col me-3">
                    <div class="icones_profil">
                        <img src="/assets/icones/card_profil/card_profil_user.svg" alt="">
                    </div>
    
                    <h4>Profil</h4>
                    <p>Modifier mon profil public, consulter les avis</p>
                </div>
          
                <div class="card_profil col me-3">
                    <div class="icones_profil">
                        <img src="/assets/icones/card_profil/card_profil_parametres.svg" alt="">
                    </div>
    
                    <h4>Paramètres</h4>
                    <p>Compléter et modifier mes informations</p>
                </div>

                <div class="card_profil col">
                    <div class="icones_profil">
                        <img src="/assets/icones/card_profil/card_profil_certif.svg" alt="">
                    </div>
    
                    <h4>Connexion et sécurité</h4>
                    <p>Protéger mon compte</p>
                </div>
            </div>
</section>
<section class="container mb-5">
        <div class="row my-4">
            <div class="card_profil col me-3">
                <div class="icones_profil">
                    <img src="/assets/icones/card_profil/card_profil_cb.svg" alt="">
                </div>

                <h4>Crédits</h4>
                <p>Consulter mes crédits</p>
            </div>

            
            <div class="card_profil col me-3">
                <div class="icones_profil">
                    <img src="/assets/icones/card_profil/card_profil_aide.svg" alt="">
                </div>

                <h4>Aide</h4>
                <p>FAQ</p>
            </div>
            <div class="se_deconnecter col">
                <a class="bouton bouton_orangeoutline boutonS" href="{{path('app_logout')}}">Se deconnecter</a>
            </div>
        </div>
</section>

{% endblock %}


