
{% extends 'base.html.twig' %}
{# templates/user/show.html.twig #}



{% block content %}
    <h1>Détails de l'utilisateur avec l'ID {{ user_id }}</h1>
    {# Votre code pour afficher les détails de l'utilisateur #}
{% endblock %}